html {
  /* height: 100%; */
}

body {
  background: linear-gradient(#FC5E55, #FA4083);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}


main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.herobox1 h1 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.336) ;
}

.herobox2 {
  flex: 1;
}

.book-online-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #fff;
  border: none;
  padding: 0.85rem 1.3rem;
  color: #FA4083;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.15rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.24);
}

.book-online-btn:hover {
  background-color: #e6e6e6;
  transition: background-color 0.25s;
}

.outline-btn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.25s color 0.25s;
  border-radius: 0;
  box-shadow: none;
}

.outline-btn:hover {
  background-color: rgba(230, 230, 230, 0.699);
  color: #FA4083;
}

.cards {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  text-align: center;
}

.card-item {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  line-height: 1.2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
}

.card1{
  background: url('images/image-background-card1.jpg')no-repeat center bottom/cover;
}

.card2 { 
  background: url('images/image-background-card2.jpg')no-repeat center bottom/cover;
}

.card3 {
  background: url('images/image-background-card3.jpg')no-repeat center bottom/cover;
}

h1 {
  font-size: 3.25rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.cards p {
  margin-top: 1rem;
  font-size: 0.85rem;
}

.box-icon  {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.5);
}

.hover-effect {
  display: inline-block;
  padding: 20px;
}

.hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.30s;
  color: #c0bfbf;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}

.testimonials {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.tbox {
  display: inline-block;
  width: 47%;
  padding: 50px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}