html {
  height: 100%;
}

body {
  background-image: linear-gradient(#FC5E55, #FA4083);
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.herobox2 {
  flex: 1;
}

.cards {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  text-align: center;
}

.card1{
  width: 30%;
  background: url('images/image-background-card1.jpg')no-repeat center bottom/cover;
}

.hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 250px;
  transition: background-color 0.30s;
}

.card2 {
  background: url('images/image-background-card2.jpg')no-repeat center bottom/cover;
  width: 30%;
}

.card3 {
  background: url('images/image-background-card3.jpg')no-repeat center bottom/cover;
  width: 30%;
}

h1 {
  font-size: 3.25rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin: 10px 30px 20px 30px;
}

.box-icon  {
  font-size: 5rem;
  padding: 1.5rem 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}