html {
  height: 100%;
}

body {
  background-image: linear-gradient(#FC5E55, #FA4083);
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.herobox2 {
  flex: 1;
}

.cards {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: pink;
  min-height: 300px;
  width: 30%;
}

.card2 {
  background-color: plum;
  min-height: 300px;
  width: 30%;
}

.card3 {
  background-color: purple;
  min-height: 300px;
  width: 30%;
}

h1 {
  font-size: 3.25rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}